<div class="intro">
  <h1>Our Offer</h1>
</div>

<div class="about-us">
  <div class="about-us-text">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mollis consectetur ligula, et interdum ante viverra sit amet. Sed molestie arcu ex, et accumsan eros tristique eget. Curabitur a dolor in sapien pretium pharetra. Fusce ante lacus, porttitor non faucibus vel, ultrices bibendum ex. Nunc nunc arcu, semper pellentesque metus eu, malesuada sagittis ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam sagittis augue nec tempus ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean luctus rhoncus mi, eu egestas nibh tristique sed. Pellentesque ullamcorper pulvinar nibh eget vulputate. Nam vitae leo orci. Donec in finibus est.</p>
  </div>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fst.focusedcollection.com%2F16485780%2Fi%2F650%2Ffocused_199377256-stock-photo-mother-helping-baby-boy-walk.jpg&f=1&nofb=1&ipt=04978b26f76a4a469bfb74b938a9b50cd4175a4b406abbc6e3c71cb98f72155c&ipo=images" alt="us">
</div>
