<header class="header">
  <a routerLink="/start" class="logo">LOGO</a>
  <nav>
    <span>
      <a routerLink="/start">Main Page</a>
    </span>
      <span>
      <a routerLink="/ofert">Ofert</a>
    </span>
      <span>
      <a routerLink="/staff">Our Staff</a>
    </span>
      <span>
      <a routerLink="/about">About</a>
    </span>
      <span>
      <a routerLink="/login">Login</a>
    </span>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="copy">This is my footer</div>
  <div class="bottom-links">
    <div class="links">
      <span>More info</span>
      <a routerLink="start">Home</a>
      <a routerLink="about">About</a>
    </div>
    <div class="links">
      <span>Social Links</span>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</footer>
