<div class="selection">
  <nav>
    <span>
      <a routerLink="/admin/doctors">Doctors</a>
    </span>
    <span>
      <a routerLink="/admin/patients">Patients</a>
    </span>
    <span>
      <a routerLink="/admin/appointments">Appointments</a>
    </span>
  </nav>
</div>
<button (click)="addDoctor()">Add new</button>
<span>
  <input [(ngModel)]="searchPhrase">
  <button (click)="search()">Search</button>
</span>
<span class="dropdown">
  <button class="dropbtn">Sort by</button>
  <span class="dropdown-content">
    <span (click)="sort('id')">id</span>
    <span (click)="sort('firstname')">firstname</span>
    <span (click)="sort('lastname')">lastname</span>
    <span (click)="sort('email')">email</span>
    <span (click)="sort('telephone')">telephone</span>
    <span (click)="sort('specialization')">specialization</span>
  </span>
</span>
<ul class="doctors" *ngIf="filteredDoctorList == undefined">
  <li *ngFor="let doc of doctorList">
    <div class="a" (click)="displayDetail(doc)">
      <span class="badge">{{doc.id}}</span>
      {{doc.lastName}} {{doc.firstName}}
    </div>
  </li>
</ul>
<ul class="doctors" *ngIf="filteredDoctorList != undefined">
  <li *ngFor="let doc of filteredDoctorList">
    <div class="a" (click)="displayDetail(doc)">
      <span class="badge">{{doc.id}}</span>
      {{doc.lastName}} {{doc.firstName}}
    </div>
  </li>
</ul>


<div class="detail" *ngIf="displayDoctor">
  <label>Firstname:
    <input [(ngModel)]="displayDoctor.firstName">
  </label>
  <br>
  <label>Lastname:
    <input [(ngModel)]="displayDoctor.lastName">
  </label>
  <br>
  <label>Username:
    <input [(ngModel)]="displayDoctor.username">
  </label>
  <br>
  <label>Email:
    <input [(ngModel)]="displayDoctor.email">
  </label>
  <br>
  <label>Phone Number:
    <input [(ngModel)]="displayDoctor.telephone">
  </label>
  <br>
  <label>Specialization:
    <input [(ngModel)]="displayDoctor.specialization">
  </label>
  <br>
  <label>Description:
    <input [(ngModel)]="displayDoctor.description">
  </label>
  <br>
  <label>Appointments:
  <ul>
    <li *ngFor="let appointment of displayDoctor.appointmentList">
      <span *ngIf="appointment != undefined && appointment != null">
      <label>
        Date:{{displayDoctor.appointmentList[displayDoctor.appointmentList.indexOf(appointment)].date}}
      </label>
      <br>
      <label>
        Time: {{displayDoctor.appointmentList[displayDoctor.appointmentList.indexOf(appointment)].time}}
      </label>
      <br>
      <label *ngIf="appointment.patient">
        Patient: {{appointment.patient.firstName}} {{appointment.patient.lastName}}
      </label>
      <br>
      <label *ngIf="appointment.prescription != undefined && appointment.prescription != null">
        Prescription: {{displayDoctor.appointmentList[displayDoctor.appointmentList.indexOf(appointment)].prescription?.recommendation}}
      </label>
      </span>
    </li>
  </ul>
  </label>
  <button (click)="updateSelected()">Update</button>
  <button (click)="deleteSelected()">Delete</button>
</div>

<div class="add_new" *ngIf="addingNew">

  <label>Firstname:
    <input #docFirstname>
  </label>
  <br>
  <label>Lastname:
    <input #docLastname>
  </label>
  <br>
  <label>Username:
    <input #docUsername>
  </label>
  <br>
  <label>Password:
    <input type="password" #docPassword>
  </label>
  <br>
  <label>Email:
    <input #docEmail>
  </label>
  <br>
  <label>Phone Number:
    <input #docTelephone>
  </label>
  <br>
  <label>Specialization:
    <input #docSpecialization>
  </label>
  <br>
  <label>Description:
    <input #docDescription>
  </label>
  <br>
  <button (click)='add(docFirstname.value, docLastname.value, docEmail.value,
          docTelephone.value, docUsername.value, docPassword.value,
           docSpecialization.value, docDescription.value);
          docFirstname.value = ""; docLastname.value = ""; docEmail.value = "";
          docTelephone.value = ""; docUsername.value = ""; docPassword.value = "";
          docSpecialization.value = ""; docDescription.value = "";'
  >Add</button>
</div>
